[Unit]
Description=Adapty Flask Trunk
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/apps/adapty-discord-trunk
ExecStart=/usr/local/bin/pipenv run flask run -p 25005

StandardOutput=syslog
StandardError=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target